<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Alexis Gautier | Web & Recording solutions</title>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Font Awesome Icon -->
    <script src="https://kit.fontawesome.com/0e45521ec5.js"></script>
    
    <link href="../public/css/pe-icons.css" rel="stylesheet">
    <link href="../public/css/prettyPhoto.css" rel="stylesheet">
    <link href="../public/css/animate.css" rel="stylesheet">
    <link href="../public/css/style.css" rel="stylesheet">
    <script src="../public/js/jquery.js"></script>



    <!--[if lt IE 9]>
    <script src="../public/js/html5shiv.js"></script>
    <script src="../public/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../public/images/ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" href="../public/images/ico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../public/images/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../public/images/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="../public/images/ico/apple-touch-icon-57x57.png">

    <script type="text/javascript">
    jQuery(document).ready(function($){
	'use strict';
      	jQuery('body').backstretch([
	        "../public/../public/images/bg/bg4.jpg",
	        "../public/../public/images/bg/bg1.jpg",
            "../public/../public/images/bg/bg5.jpg",
            "../public/../public/images/bg/bg2.jpg",
            "../public/../public/images/bg/bg6.jpg",
            "../public/../public/images/bg/bg3.jpg"
	    ], {duration: 4000, fade: 500, centeredY: true });

		/*$("#mapwrapper").gMap({ controls: false,
         	scrollwheel: false,
         	markers: [{
              	latitude:40.7566,
				longitude: -73.9863,
          	icon: { image: "../public/../public/images/marker.png",
              	iconsize: [44,44],
          		iconanchor: [12,46],
          		infowindowanchor: [12, 0] } }],
          	icon: {
              	image: "../public/../public/images/marker.png",
             	iconsize: [26, 46],
              	iconanchor: [12, 46],
              	infowindowanchor: [12, 0] },
         	latitude:40.7566,
         	longitude: -73.9863,
          	zoom: 14 });*/
    });
    </script>
</head><!--/head-->
<body>
<div id="preloader"></div>
    <header class="navbar navbar-inverse navbar-fixed-top " role="banner">
        <div class="container" id="navContainer">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                 <a class="navbar-brand" href="index.html"><h1><span class="fas fa-sliders-h"></span> ALEXIS GAUTIER</h1></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <span class="fa fa-angle-down"></s></a>
                        <ul class="dropdown-menu">
                            <li><a href="services-Web.html">Web Development</a></li>
                            <li><a href="services-Studio.html">Recording / Mixing / Mastering </a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quote <span class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="quote-Web.html">Web Development</a></li>
                            <li><a href="quote-Studio.html">Recording / Mixing / Mastering </a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portofolio <span class="fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="portfolio-Web.html">Web Development</a></li>
                            <li><a href="portfolio-Studio.html">Recording / Mixing / Mastering </a></li>
                        </ul>
                    </li>
                    <li><a href="about-me.html">About Me</a></li>
                    <li><a href="contact-me.html">Contact</a></li>
                </ul>
            </div>
            <div class="lang">
                <a href="#">FR</a> / <a href="#">EN</a>
            </div>
        </div>
    </header><!--/header-->

    <section id="main-slider" class="no-margin">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center ">
                                    <h2 class="boxed animation animated-item-1 fade-down">I WILL HELP YOU MAKE AN IMPACT</h2>
                                    <p class="boxed animation animated-item-2 fade-up">Our expertise will guide you to success. Without Fail.</p>
                                    <br>
                                    <a class="btn btn-md animation bounce-in" href="#services">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->

    <div id="content-wrapper">
        <section id="services" class="white">
            <div class="container">
            <div class="gap"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="center gap fade-down section-heading">
                            <h2 class="main-title">How can I help you ?</h2>
                            <hr>
                            <div class="gap"></div>
                            <h4 class="serviceSubtitle">You need a Website | Webstore | Blog ?</h4>
                        </div>
                    </div>
                </div>
                <!-- FIXME : duplicate content entre page d'accueil et page Services-->
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block">
                            <div class="pull-left bounce-in">
                                <span class="fa fas fa-laptop-code fa-md"></span>
                            </div>
                            <div class="media-body fade-up">
                                <h3 class="media-heading">Website</h3>
                                <p>Need a brand new website or to revamp your old one ? Either for the brand you just started, your company, local association or anything else : I can offer you the kind of services you need.  </p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block">
                            <div class="pull-left bounce-in">
                                <span class="fas fa-cart-arrow-down fa fa-md"></s>
                            </div>
                            <div class="media-body fade-up">
                                <h3 class="media-heading">Webstore</h3>
                                <p>You want to sell your products online ? Only a few items or a very large catalogue, it doesn't make a difference. I will create the webstore that suits your needs and help you boost these sales!</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block">
                            <div class="pull-left bounce-in">
                                <span class="fas fa-book-reader fa fa-md"></i>
                            </div>
                            <div class="media-body fade-up">
                                <h3 class="media-heading">Blog</h3>
                                <p>Food enthusiast, sports maniac, music lover ? Yes, there are millions of people who share your passion. I can develop the blog you dream of for all kinds of topics.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="center gap fade-down section-heading">
                            <hr>
                            <div class="gap"></div>
                            <h4 class="serviceSubtitle">Recording | Mixing | Mastering for your band</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block">
                            <div class="pull-left bounce-in">
                                <span class="fa-microphone-alt fa fa-md"></span>
                            </div>
                            <div class="media-body fade-up">
                                <h3 class="media-heading">Recording</h3>
                                <p>Your band is finally ready to hit the studio and record these songs you have been jamming for a while now? I have everything you need to make them ROCK HARD!</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block">
                            <div class="pull-left bounce-in">
                                <span class="fas fa-sliders-h fa fa-md"></span>
                            </div>
                            <div class="media-body fade-up">
                                <h3 class="media-heading">Mixing</h3>
                                <p>You have a couple songs recorded, still hot from the oven ? Getting a proper mix is the next step to eventually put them on a record. Let me handle that and I'll get the best of these tunes!</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block">
                            <div class="pull-left bounce-in">
                                <span class="fa fas fa-compact-disc fa-md"></span>
                            </div>
                            <div class="media-body fade-up">
                                <h3 class="media-heading">Mastering</h3>
                                <p>Some often don't understand the importance of Mastering...until they listen to the difference with the rough mix! This is the last stage to beautify your record. And I'm ready to help you with that!</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
            </div>
            <div class="gap"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center gap fade-down section-heading">
                            <h2 class="main-title">My Skills</h2>
                            <hr>
                            <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
            <div class="row">
	                <div class="col-md-3">
	                    <div class="tile-progress tile-red bounce-in">
	                        <div class="tile-header">
	                            <h3>Video Editing</h3>
	                            <span>Our cutting room floor is messy.</span>
	                        </div>
	                        <div class="tile-progressbar">
	                            <span data-fill="65.5%" style="width: 65.5%;"></span>
	                        </div>
	                        <div class="tile-footer">
	                            <h4>
	                                <span class="pct-counter counter">65.5</span>%
	                            </h4>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-3">
	                    <div class="tile-progress tile-cyan bounce-in">
	                        <div class="tile-header">
	                            <h3>Marketing</h3>
	                            <span>How well we can sell you and your brand.</span>
	                        </div>
	                        <div class="tile-progressbar">
	                            <span data-fill="98.5%" style="width: 98.5%;"></span>
	                        </div>
	                        <div class="tile-footer">
	                            <h4>
	                                <span class="pct-counter counter">98.5</span>%
	                            </h4>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-3">
	                    <div class="tile-progress tile-primary bounce-in">
	                        <div class="tile-header">
	                            <h3>Web Development</h3>
	                            <span>We love servers and stuff.</span>
	                        </div>
	                        <div class="tile-progressbar">
	                            <span data-fill="90%" style="width: 90%;"></span>
	                        </div>
	                        <div class="tile-footer">
	                            <h4>
	                                <span class="pct-counter counter">90</span>%
	                            </h4>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-3">
	                    <div class="tile-progress tile-pink bounce-in">
	                        <div class="tile-header">
	                            <h3>Coffee</h3>
	                            <span>We done make good joe, though.</span>
	                        </div>
	                        <div class="tile-progressbar">
	                            <span data-fill="10%" style="width: 10%;"></span>
	                        </div>
	                        <div class="tile-footer">
	                            <h4>
	                                <span class="pct-counter counter">10</span>%
	                            </h4>
	                        </div>
	                    </div>
	                </div>
	            </div><!--/.row-->
	            <div class="gap"></div>
        	</div>
        </section>

        <section id="stats" class="divider-section">
                <div class="gap"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <div class="center bounce-in">
                                <span class="stat-icon"><span class="pe-7s-timer bounce-in"></span></span>
                                <h1><span class="counter">246000</span></h1>
                                <h3>HOURS SAVED</h3>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="center bounce-in">
                                <span class="stat-icon"><span class="pe-7s-light bounce-in"></span></span>
                                <h1><span class="counter">16875</span></h1>
                                <h3>FRESH IDEAS</h3>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="center bounce-in">
                                <span class="stat-icon"><span class="pe-7s-graph1 bounce-in"></span></span>
                                <h1><span class="counter">99999999</span></h1>
                                <h3>HUGE PROFIT</h3>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="center bounce-in">
                                <span class="stat-icon"><span class="pe-7s-box2 bounce-in"></span></span>
                                <h1><span class="counter">54875</span></h1>
                                <h3>THINGS IN BOXES</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gap"></div>
            </section>

            <section id="testimonial-carousel" class="divider-section">
            <div class="gap"></div>
	            <div class="container">
	                <div class="row">
                    	<div class="center gap fade-down section-heading">
                            <h2 class="main-title">What They Have Been Saying</h2>
                            <hr>
                            <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
                            <div class="gap"></div>
                        </div>
	                    <div class='col-md-offset-2 col-md-8 fade-up'>
	                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
	                            <!-- Bottom Carousel Indicators -->
	                            <ol class="carousel-indicators">
	                                <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
	                                <li data-target="#quote-carousel" data-slide-to="1"></li>
	                                <li data-target="#quote-carousel" data-slide-to="2"></li>
	                            </ol>
	                            <!-- Carousel Slides / Quotes -->
	                            <div class="carousel-inner">
	                              <!-- Quote 1 -->
	                                <div class="item active">
	                                    <blockquote>
	                                        <div class="row">
	                                            <div class="col-sm-3 text-center">
	                                                <img class="img-responsive" src="../public/images/team/team01.jpg" style="width: 100px;height:100px;">
	                                            </div>
	                                            <div class="col-sm-9">
	                                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
	                                                <small>Someone famous</small>
	                                            </div>
	                                        </div>
	                                    </blockquote>
	                                </div>
	                                <!-- Quote 2 -->
	                                <div class="item">
	                                    <blockquote>
	                                        <div class="row">
	                                            <div class="col-sm-3 text-center">
	                                                <img class="img-responsive" src="../public/images/team/team02.jpg" style="width: 100px;height:100px;">
	                                            </div>
	                                            <div class="col-sm-9">
	                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
	                                                <small>Someone famous</small>
	                                            </div>
	                                        </div>
	                                    </blockquote>
	                                </div>
	                                <!-- Quote 3 -->
	                                <div class="item">
	                                    <blockquote>
	                                        <div class="row">
	                                            <div class="col-sm-3 text-center">
	                                                <img class="img-responsive" src="../public/images/team/team03.jpg" style="width: 100px;height:100px;">
	                                            </div>
	                                            <div class="col-sm-9">
	                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
	                                                <small>Someone famous</small>
	                                            </div>
	                                        </div>
	                                    </blockquote>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="gap"></div>
	      		</div>
      		</section>

            <section id="contact" class="white">
                <div class="container">
                	<div class="gap"></div>
                    <div class="center gap fade-down section-heading">
                        <h2 class="main-title">Get In Touch</h2>
                        <hr>
                        <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
                    </div>
                    <div class="gap"></div>
                    <div class="row">
                        <div class="col-md-4 fade-up">
                            <h3>Contact Information</h3>
                            <p><span class="icon icon-home"></span>Time Square, New York<br/>
                                <span class="icon icon-phone"></span>+36 65984 405<br/>
                                <span class="icon icon-mobile"></span>+36 65984 405<br/>
                                <span class="icon icon-envelop"></span> <a href="#">email@infinityteam.com</a> <br/>
                                <span class="icon icon-twitter"></span> <a href="#">@infinityteam.com</a> <br/>
                                <span class="icon icon-facebook"></span> <a href="#">Infinity Agency</a> <br/>
                            </p>
                        </div><!-- col -->

                        <div class="col-md-8 fade-up">
                            <h3>Drop Us A Message</h3>
                            <br>
                            <br>
                            <div id="message"></div>
                            <form method="post" action="sendemail.php" id="contactform">
                                <input type="text" name="name" id="name" placeholder="Name" />
                                <input type="text" name="email" id="email" placeholder="Email" />
                                <input type="text" name="website" id="website" placeholder="Website" />
                                <textarea name="comments" id="comments" placeholder="Comments"></textarea>
                                <input class="btn btn-outlined btn-primary" type="submit" name="submit" value="Submit" />
                            </form>
                        </div><!-- col -->
                    </div><!-- row -->
                    <div class="gap"></div>
                </div>
            </section>
        </div>

    <div id="footer-wrapper">
        <section id="bottom" class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 about-us-widget">
                        <h4>Global Coverage</h4>
                        <p>Was drawing natural fat respect husband. An as noisy an offer drawn blush place. These tried for way joy wrote witty. In mr began music weeks after at begin.</p>
                    </div><!--/.col-md-3-->

                    <div class="col-md-3 col-sm-6">
                        <h4>Company</h4>
                        <div>
                            <ul class="arrow">
                                <li><a href="#">Company Overview</a></li>
                                <li><a href="#">Meet The Team</a></li>
                                <li><a href="#">Our Awesome Partners</a></li>
                                <li><a href="#">Our Services</a></li>
                            </ul>
                        </div>
                    </div><!--/.col-md-3-->

                    <div class="col-md-3 col-sm-6">
                        <h4>Latest Articles</h4>
                        <div>
                            <div class="media">
                                <div class="pull-left">
                                    <img class="widget-img" src="../public/images/portfolio/folio01.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <span class="media-heading"><a href="#">Blog Post A</a></span>
                                    <small class="muted">Posted 14 April 2014</small>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img class="widget-img" src="../public/images/portfolio/folio02.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <span class="media-heading"><a href="#">Blog Post B</a></span>
                                    <small class="muted">Posted 14 April 2014</small>
                                </div>
                            </div>
                        </div>
                    </div><!--/.col-md-3-->

                    <div class="col-md-3 col-sm-6">
                        <h4>Come See Us</h4>
                        <address>
                            <strong>Ace Towers</strong><br>
                            New York Ave,<br>
                            New York, 215648<br>
                            <abbr title="Phone"><i class="fa fa-phone"></i></abbr> 546 840654 05
                        </address>
                    </div> <!--/.col-md-3-->
                </div>
            </div>
        </section><!--/#bottom-->

        <footer id="footer" class="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        &copy; 2019 Your Site Name. All Rights Reserved. <a href="https://templatemag.com/bootstrap-templates/">Bootstrap templates</a> by TemplateMag.
                    </div>
                    <div class="col-sm-4">
                        <ul class="pull-right">
                            <li><a id="gototop" class="gototop" href="#"><i class="fa fa-chevron-up"></i></a></li><!--#gototop-->
                        </ul>
                    </div>
                </div>
            </div>
        </footer><!--/#footer-->
    </div>


    <script src="../public/js/plugins.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWDPCiH080dNCTYC-uprmLOn2mt2BMSUk&amp;sensor=true"></script>
    <script src="../public/js/init.js"></script>
</body>
</html>
